body {
    margin: 0;
    padding: 30px;
    background-color: burlywood;
    font-family: LobsterTwo-Bold;
    color: #3b2113;
}

@font-face {
    font-family: "LobsterTwo-Bold";
    src: url(assets/schrift/Lobster_Two/LobsterTwo-Bold.ttf);
}

.bestellung{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

#kaffee {
  width: 170px;
  padding: 7px;
  border: 1px solid #777;
  border-radius: 6px;
  font-size: 13px;
  background-color: white;
}

.knopf {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.knopf1 {
  display: flex;
  width: 100px;
  padding: 15px 35px;
  margin: 0;

  background-color: rgb(84, 56, 36);
  border-radius: 15px;

  color: rgb(230, 200, 160);
  font-size: 30px;
  text-decoration: none;
  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.knopf1:hover {
  background-color: rgb(60, 38, 24);
  color: white;
}