:root {
    --margin-main: 20px;
    --margin: 40px;
    --boxmargin: 20px;
    --radius: 15px;
    --boxwidth: 360px;
    --boxheigt: 360px;
    --labelheight: 100px;
    --labelwidth: 360px;
    --lightbrown: rgb(176, 142, 106);
    --darkbrown: rgb(84, 56, 36);
    --background-color: rgba(187, 161, 131, 0.596);
}

@font-face {
    font-family: "LobsterTwo-Bold";
    src: url(assets/schrift/Lobster_Two/LobsterTwo-Bold.ttf);
}



body {
    background-color: rgb(224, 201, 170);
    font-family: LobsterTwo-Bold;
}



header {
    margin: var(--margin-main);
    margin-top: 20px;
    border-radius: var(--radius);
    background-color: var(--background-color);

    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 200px;

    grid-template-areas:
        "logo h1"
        "slogan slogan";
}


.logo {
    height: 400px;
    margin: var(--margin);
    display: flex;
    justify-content: left;
    grid-area: logo;
}


h1 {
    font-size: 150px;
    color: rgb(250, 243, 235);
    line-height: 130px;
    margin: 100px;
    grid-area: h1;
}

h2 {
    font-size: 50px;
    color: rgb(250, 243, 235);
    text-align: center;
    grid-area: slogan;
}

h3 {
    background-color: rgb(250, 242, 235);
    border-radius: var(--radius);
}


.best-food {
    text-align: center;
    font-size: 50px;
    margin: var(--margin);
    padding: 20px;
}

.bestfood {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 400px 100px 400px 100px;
    align-content: center;
    grid-template-areas: 
    "food1 food2 food3"
    "label1 label2 label3"
    "food4 food5 food6"
    "label4 label5 label6";

    margin: var(--margin);
}

#food1 {
    grid-area: food1;
}

#food2 {
    grid-area: food2;
}

#food3 {
    grid-area: food3;
}

#food4 {
    grid-area: food4;
}

#food5 {
    grid-area: food5;
}

#food6 {
    grid-area: food6;
}

#label1 {
    grid-area: label1;
}

#label2 {
    grid-area: label2;
}

#label3 {
    grid-area: label3;
}

#label4 {
    grid-area: label4;
}

#label5 {
    grid-area: label5;
}

#label6 {
    grid-area: label6;
}





.label {
    background-color: #fff2e9;
    border-radius: var(--radius);
    width: var(--labelwidth);
    height: var(--labelheigt);


    text-decoration: none;
    color: var(--lightbrown);
    margin: var(--boxmargin);
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}

.food {
    background-color: var(--lightbrown);
    border-radius: var(--radius);
    width: var(--boxwidth);
    height: var(--boxheigt);


    text-decoration: none;
    color: var(--darkbrown);
    margin: var(--boxmargin);
    font-size: 50px;
    text-align: center;
}

.food img {
    width: 300 px;
    height: 300px;
    margin: 50px;
}

.food:hover {
    background-color: var(--darkbrown);
    color: var(--lightbrown);
}





footer {
    background-color: rgb(187, 161, 131, 0.596);
    margin: var(--margin-main);
    border-radius: var(--radius);

}

table {
    margin: var(--margin);
}

th,
td {
    text-align: center;
    padding: 30px;

}

th,
td a {
    color: rgb(250, 243, 235);
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-family: LobsterTwo-Regular;
}

td a {
    font-size: 40px;
}