:root {
    --margin: 30px;
    --boxmargin: 20px;
    --radius: 15px;
    --boxwidth: 360px;
    --boxheigt: 360px;
    --labelheight: 100px;
    --labelwidth: 360px;
}

@font-face {
    font-family: "LobsterTwo-Bold";
    src: url(assets/schrift/Lobster_Two/LobsterTwo-Bold.ttf);
}

body {
    background-color: rgb(235, 220, 200);
    font-family: LobsterTwo-Bold;
        max-width: 1200px;
    min-height: 100vh;
}



header {
    margin: var(--margin);
    margin-top: 20px;
    border-radius: var(--radius);
    background-color: rgba(187, 161, 131, 0.596);

    display: flex;
    flex-direction: row;

}

strong
{
    font-size: 50px;
    line-height: 1px;
}

.logo {
    height: 400px;
    margin: var(--margin);
}


h1 {
    font-size: 150px;
    color: rgb(250, 243, 235);
    line-height: 130px;
}

h3
{
    background-color: rgb(250, 243, 235);
    border-radius: var(--radius);
}

.haupt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hauptknopf {
    background-color: rgb(84, 56, 36);
    border-radius: var(--radius);
    width: var(--boxwidth);
    height: var(--boxheigt);


    text-decoration: none;
    color: rgb(176, 142, 106);
    margin: var(--boxmargin);
    font-size: 50px;
    text-align: center;
}

.hauptknopf:hover {
    background-color: rgb(176, 142, 106);
    color: rgb(84, 56, 36);
}



.best-food {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.bestfood {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.label
{
    background-color: #fff2e9;
    border-radius: var(--radius);
    width: var(--labelwidth);
    height: var(--labelheigt);


    text-decoration: none;
    color: rgb(176, 142, 106);
    margin: var(--boxmargin);
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}

.food {
    background-color: rgb(176, 142, 106);
    border-radius: var(--radius);
    width: var(--boxwidth);
    height: var(--boxheigt);


    text-decoration: none;
    color: rgb(84, 56, 36);
    margin: var(--boxmargin);
    font-size: 50px;
    text-align: center;
}

.food img
{
    width: 300 px;
    height: 300px;
    margin: 50px;
}

.food:hover {
    background-color: rgb(84, 56, 36);
    color: rgb(176, 142, 106);
}





footer {
    background-color: rgb(187, 161, 131, 0.596);
    margin: var(--margin);
    border-radius: var(--radius);

}



table {
    margin: var(--margin);
}

th,
td {
    text-align: center;
    padding: 30px;

}

th,
td a {
    color: rgb(250, 243, 235);
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-family: LobsterTwo-Regular;
}

td a
{
    font-size: 40px;
}