:root {
    --margin: 40px;
    --margin-main: 20px;
    --boxmargin: 20px;
    --radius: 15px;
    --boxwidth: 360px;
    --boxheigt: 360px;
    --labelheight: 100px;
    --labelwidth: 360px;
    --lightbrown: rgb(176, 142, 106);
    --darkbrown: rgb(84, 56, 36);
    --background-color: rgba(187, 161, 131, 0.596);
    --main-text-color: rgb(250, 243, 235)
}

@font-face {
    font-family: "LobsterTwo-Bold";
    src: url(assets/schrift/Lobster_Two/LobsterTwo-Bold.ttf);
}

body {
    background-color: rgb(224, 201, 170);
    font-family: LobsterTwo-Bold;
    display: flex;
    flex-direction: column;
}


header {
    margin: var(--margin-main);
    margin-top: 20px;
    border-radius: var(--radius);
    background-color: rgba(187, 161, 131, 0.596);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-text-color);
    font-size: 50px;

}

.idee {
    background-color: var(--darkbrown);
    border-radius: var(--radius);
    margin: var(--margin);
    padding-bottom: 10px;
    color: var(--lightbrown);
}



h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 10px;
}

h3 {
    margin: 40px;
    font-size: 30px;
}


.person1 {
    background-color: var(--lightbrown);
    border-radius: var(--radius);
    margin: var(--margin);
    padding-bottom: 10px;
    color: var(--darkbrown);
}

.person2 {
    background-color: var(--lightbrown);
    border-radius: var(--radius);
    margin: var(--margin);
    padding-bottom: 10px;
    color: var(--darkbrown);
}

.mascot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mascot-item {

    background-color: var(--darkbrown);
    border-radius: var(--radius);
    width: var(--boxwidth);
    height: var(--boxheigt);


    text-decoration: none;
    color: var(--lightbrown);
    font-size: 50px;
    text-align: center;
}

.label {
    background-color: #fff2e9;
    border-radius: var(--radius);
    width: var(--labelwidth);
    height: var(--labelheigt);


    text-decoration: none;
    color: var(--lightbrown);
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}


.startseite
{
    display: flex;
    justify-content: center;
    background-color: var(--lightbrown);
}

.startseite {
    display: flex;
    justify-content: center;
    border-radius: var(--radius);
    width: var(--labelwidth);
    height: var(--labelheigt);

    text-align: center;
}



footer {
    background-color: rgb(187, 161, 131, 0.596);
    border-radius: var(--radius);

}

table {
    margin: var(--margin);
}

th,
td {
    text-align: center;
    padding: 30px;

}

th,
td a {
    color: rgb(250, 243, 235);
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-family: LobsterTwo-Regular;
}

td a {
    font-size: 40px;
}