



@media screen and (max-width: 600px) {

    .logo {
        height: 300px;
    }

    .bestfood {
        display: grid;
        text-align: center;
        grid-template-columns: 360px;
    

        grid-template-areas:
            "food1"
            "label1"
            "food2"
            "label2"
            "food3"
            "label3"
            "food4"
            "label4"
            "food5"
            "label5"
            "food6"
            "label6"
        ;
    }

    .label
    {
        width: 300px;
    }

    .food {
        width: 300px;
        height: 300px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
    }
}